.askforpass{background-color:#001a44;width:40%; min-height:150px;;color:white;margin:0 auto;margin-top:20%;text-align:center;}
.askforpass>form>input{color:black;background-color:grey;border:none;width:90%;}
a{text-decoration:none; color:black;}
.content{width:50%; height:200px;background-color:#29497c;margin-left:auto; margin-right:auto;}	
.kafelek{ min-height:100px; background-color:#ff0000;float:left;transition: all 0.4s; font-size:200%;text-align:center}
.kafelek:hover{background-color:#ad008a;text-decoration:none;color:white }
.paneladd {background-color: grey;float:left; width: 100%;min-height:1000px; margin-left:auto;margin-right:auto; border:solid black 1px; color: black;}
#dodaj { text-align: center;}
#usun {width: 100%; text-align: center;}
.oddo{background-color:#38393a; color:#white;border:none; width:50%;margin-top:10px; padding-left: 0%; padding-right: 0%; }
.kale {border: 1px solid black; background-color: white;}
#dane {width: 60%; margin-left: auto; margin-right: auto; background-color: black; color: white;}
.left{float:left;width:30%}
.right{float:left;}
.addall{margin-left:auto;margin-right:auto;width:80%;min-height:500px}